.icons {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 4vw;
    right: 2vw;
    top: 5vh;
  }

  .icon-hover {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  .icon {
    position: absolute;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 50px;
    height: 50px;
    padding: 10px;
    /* background-color: white; */
    border-radius: 50px;
    border: 10px solid black;
    transform: translate(-100%, 0%);
    transition: ease 0.5s;
  }
  
  .icon-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #5ace99;
    position: absolute;
    right: 1.5vw;
    margin-top: 1.8vh;
    /* opacity: 0; */
    /* visibility: hidden; */
    transition: ease 0.3s;
  }

  .text {
    font-size: 2.5vw;
  }
  
  .icon:hover {
    width: 190px;
  }

  .icon:hover .text {
    /* visibility: hidden; */
    opacity: 0;
  }
  .github {
    width: 50px;
  }

  .icon-position {
    position: absolute;
  }