.App {
  text-align: center;
}

@font-face {
  font-family: dinAlternate;
  src: url('./front-end/assets/fonts/DIN Alternate Regular/DIN Alternate Regular.otf');
}

h1 {
  font-family: dinAlternate;
}

.projects {
  height: 100vh;
  background-color: ;
}

