.App {
  text-align: center;
}

@font-face {
  font-family: dinAlternate;
  src: url('./front-end/assets/fonts/DIN Alternate Regular/DIN Alternate Regular.otf');
}

h1 {
  font-family: dinAlternate;
  font-size: 3vw;
  margin-top: 0;
}

h2 {
  font-family: dinAlternate;
  font-size: 1.5vw;
}